#gameBtns {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.startGameAdjustments {
    justify-content: center;
    gap: 20px;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.panel-wrapper {
    gap: 20px;
    display: flex;
}

#jumpBtn,
#shootBtn,
#leftBtn,
#rightBtn {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
}

#leftBtn,
#rightBtn,
#jumpBtn {
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}

#leftBtn {
    background-image: url(../img/start-screen/arrow-left.png);
    background-position-y: 9px;
    background-position-x: 7px;
}

#rightBtn {
    background-image: url(../img/start-screen/arrow-right.png);
    background-position-y: 9px;
    background-position-x: 10px;
}

#jumpBtn {
    background-image: url(../img/start-screen/arrow.png);
    background-position-x: 9px;
    background-position-y: 8px;
}

#shootBtn {
    background-image: url(../img/ammunition/attack/ammunition-attack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.fadeout {
    animation: FadeOut 250ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.gameOverFullscreen {
    animation: GameOverFullscreen 225ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes GameOverFullscreen {
    0% {
        transform: translateY(-200%);
    }

    100% {
        transform: translateY(100%);
    }
}

@media only screen and (max-width: 720px) {

    #fullscreen,
    #overlay,
    canvas {
        width: 100%;
    }

    #gameOver {
        display: block;
    }

    .canvas-circle {
        width: 100% !important;
    }
}

@media only screen and (max-height: 480px) {

    #fullscreen,
    #overlay,
    .canvas-circle,
    canvas {
        height: 100vh;
    }

    #gameOver {
        display: block;
    }
}

@media (max-height: 480px) {

    #startBtn {
        margin-top: 305px !important;
    }

    .canvas-circle {
        width: calc(480px * (16/13));
    }

    #headline {
        bottom: 75% !important;
        font-size: calc(5vw + 12px);
    }

    #infoContainer {
        display: flex;
        align-items: center;
    }

    #innerInfoContainer {
        position: absolute;
        height: 100vh !important;
        width: calc(480px * (16/13));
        border-radius: 20px;
        box-sizing: border-box;
        padding: 13% 50px 0 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(0, 0, 0);
    }

    #innerInfoContainer p {
        margin: 13px 0;
        font-family: sans-serif;
        letter-spacing: 5px;
        line-height: 30px;
        text-align: justify;
        font-size: 14px;
    }

    #pause {
        top: 40px;
        font-size: 1.5rem !important;
    }

    .align {
        height: 50px;
    }

    #gameOverBtn {
        margin-top: 290px !important;
    }

    #gameOver {
        display: flex;
        align-items: baseline;
        font-size: 1rem;
    }
}

@media (max-width: 720px) {

    #start-img,
    #innerInfoContainer {
        width: 100%;
    }

    #innerInfoContainer {
        padding: 15% 50px 0 50px;
    }

    .canvasCircle {
        top: unset !important;
        left: unset !important;
        bottom: unset !important;
        right: unset !important;
        height: 100vh !important;
        width: 100% !important;
        border-radius: 20px;
    }

    #pause {
        margin: 34px 0 0 0 !important;
        font-size: 20px !important;
    }

    .gameAdjustmentsMobile {
        justify-content: center !important;
    }

    #info-icon,
    #audio-icon {
        transform: scale(0.9) !important;
    }

    #jumpBtn,
    #shootBtn,
    #leftBtn,
    #rightBtn {
        width: 40px;
        height: 40px;
    }

    #jumpBtn {
        background-position-x: 6px;
        background-position-y: 4px;
    }

    #leftBtn {
        background-position-y: 6px;
        background-position-x: 4px;
    }

    #rightBtn {
        background-image: url(../img/start-screen/arrow-right.png);
        background-position-y: 6px;
        background-position-x: 8px;
    }
}

@media screen and (max-width: 650px) {

    #startScreen {
        display: none !important;
    }

    #portraitMobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('../img/background/start-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 12;
    }

    #portraitMobile {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 100;
        padding: 0 20px;
    }

    .rotate-phone-icon {
        height: 20rem;
    }
}