/* MOBILE DEVICE: OVERLAY */
.headline {
    /* font-size: calc(4vw + 12px) !important; */
    margin-bottom: 285px !important;
}

.gameAdjustmentsMobile {
    /* width: 720px; */
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    z-index: 1;
    gap: 20px;
}

#gameBtns {
    display: flex;
    width: 720px;
    justify-content: space-between;
    padding: 0 20px 20px 20px;
}

.startGameAdjustments {
    justify-content: center;
    gap: 20px;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.panel-wrapper {
    gap: 20px;
    display: flex;
}

#jumpBtn,
#shootBtn,
#leftBtn,
#rightBtn {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: black;
    border: 1px solid white;
    cursor: pointer;
}

#leftBtn,
#rightBtn,
#jumpBtn {
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
}

#leftBtn {
    background-image: url(img/start-screen/arrow-left.png);
    background-position-y: 9px;
    background-position-x: 7px;
}

#rightBtn {
    background-image: url(img/start-screen/arrow-right.png);
    background-position-y: 9px;
    background-position-x: 10px;
}

#jumpBtn {
    background-image: url(img/start-screen/arrow.png);
    background-position-x: 9px;
    background-position-y: 8px;
}

#shootBtn {
    background-image: url(img/ammunition/attack/ammunition-attack.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

.fadeout {
    animation: FadeOut 250ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes FadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#portraitMobile {
    display: none;
}


/* MEDIA QUERY */
@media only screen and (max-width: 720px) {

    canvas {
        width: 100%;
    }

    #gameOver {
        display: block;
    }
}

@media only screen and (max-height: 480px) {

    canvas {
        height: 100vh;
    }

    #gameOver {
        display: block;
    }
}

@media (max-width: 850px) {

    .headline {
        margin-bottom: 220px !important;
    }

    #startBtn {
        margin-top: 295px !important;
    }

}

/* Landscape  */
/* @media screen and (width > height) { */
@media screen and (orientation: portrait) {

    #portraitMobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('img/background/bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 12;
    }

    #portraitMobile {
        font-size: 2rem;
        font-weight: 100;
    }
}